{% extends 'game/master.html' %}
{% load static %}
{% block content %}
<div class="container h-100 d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column gap-5">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper my-3">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help" id="{{ field.auto_id }}_helptext">
                        {{ field.help_text|safe }}
                    </p>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-dark btn-lg fs-4">Join</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}